# Firebase config (from Firebase Console > Project Settings > General > Web App)
VITE_FIREBASE_API_KEY=AIzaSyDP9NIXm9hIzDGQ3G9FS1TpZQdVnGq3CCE
VITE_FIREBASE_AUTH_DOMAIN=iot-project-95f1e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=iot-project-95f1e
VITE_FIREBASE_STORAGE_BUCKET=iot-project-95f1e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=219565334033
VITE_FIREBASE_APP_ID=1:219565334033:web:95eb6cf79d4672d46e9bb0
